.jumbotron {

background-color: aquamarine;
height: 133px;
font-weight: bold;
margin-top: 1;
}


.jumbotron h1 {

font-weight: bold;
padding-top: 12px;
font-weight: 11px;


}



/* .danger{

    background-color: #2852c4;
     
} */